Spark DataFrames are the workhouse and main way of working with Spark and Python post Spark 2.0. DataFrames act as powerful versions of tables, with rows and columns, easily handling large datasets. The shift to DataFrames provides many advantages:

* A much simpler syntax
* Ability to use SQL directly in the dataframe
* Operations are automatically distributed across RDDs

In [2]:
from pyspark.sql import SparkSession

In [3]:
df = spark.read.csv('/FileStore/tables/sales_info.csv',inferSchema=True,header=True)

Spark DataFrame Basics

In [5]:
df.show()

In [6]:
df.printSchema()

In [7]:
df.columns

In [8]:
df.describe()

In [9]:
df.select('Company').show()

In [10]:
df.select(['Company','Person']).show()

In [11]:
df.filter("Sales<500").show()

In [12]:
df.filter("Sales<500").select('Person').show()

In [13]:
df.filter( (df["Sales"] < 500) & (df['Company'] == 'FB') ).show()

In [14]:
df.filter( (df["Sales"] < 500) & ~(df['Company'] == 'FB') ).show()

In [15]:
df.groupBy("Company").mean().show()

In [16]:
df.groupBy("Company").count().show()

In [17]:
df.groupBy("Company").max().show()

In [18]:
df.groupBy("Company").sum().show()

Check out this link for more info on other methods:
http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark-sql-module

Not all methods need a groupby call, instead you can just call the generalized .agg() method, that will call the aggregate across all rows in the dataframe column specified. It can take in arguments as a single column, or create multiple aggregate calls all at once using dictionary notation.

For example:

In [20]:
df.agg({'Sales':'max'}).show()

In [21]:
df.orderBy("Sales").show()

In [22]:
df.orderBy(df["Sales"].desc()).show()

#### Using SQL

To use SQL queries directly with the dataframe, you will need to register it to a temporary view:

In [24]:
df.createOrReplaceTempView("sales")

In [25]:
sql_results = spark.sql("SELECT * FROM sales")

In [26]:
sql_results.show()

In [27]:
spark.sql("SELECT * FROM sales WHERE Company = 'FB'").show()

There are a variety of functions you can import from pyspark.sql.functions. Check out the documentation for the full list available:

http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#module-pyspark.sql.functions

In [29]:
from pyspark.sql.functions import countDistinct, avg,stddev

In [30]:
df.select(countDistinct("Sales")).show()

In [31]:
df.select(avg('Sales')).show()

In [32]:
df.select(stddev("Sales")).show()

In [33]:
from pyspark.sql.functions import format_number

In [34]:
sales_std.select(format_number('std',2)).show()